.border

%header
	.headline.center
		%i.fa.fa-diamond
		%h1 Woppie
		%h5 Blog & Portfolio Page

%nav
	.container
		%ul
			%li
				%a{:href => "Home"} Home
			%li
				%a{:href => "About"} About
			%li
				%a{:href => "Projects"} Projects
			%li
				%a{:href => "Blog"} Blog
			%li
				%a{:href => "Contact"} Contact

#main-content
	.container
		.row
			.post-content.col.s9
				.row
					.content-title 
						%h5 Latest Blog Posts
						%a{:href => "$"} view all posts
					.col.s6
						.card
							.card-image
								=image_tag("blog1.jpg")
							.card-content
								%span.card-title Post title
								%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt explicabo consequuntur quis distinctio, ducimus. Nostrum facere, debitis eum eligendi magnam cumque omnis! Sapiente ea tempore, repellat voluptas accusantium quia! Aut?
							.card-action
								%a{:href => "#", class: "waves-light btn"} Read more
					.col.s6
						.card
							.card-image
								=image_tag("blog2.jpg")
							.card-content
								%span.card-title Post title
								%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt explicabo consequuntur quis distinctio, ducimus. Nostrum facere, debitis eum eligendi magnam cumque omnis! Sapiente ea tempore, repellat voluptas accusantium quia! Aut?
							.card-action
								%a{:href => "#", class: "waves-light btn"} Read more

				.row
					%h5.content-title Latest Projects
					.col.s4
						.card
							.card-image
								=image_tag("blog4.jpg")
							.card-content
								%span.card-title Project title
								%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt explicabo consequuntur quis distinctio, ducimus. Nostrum facere, debitis eum eligendi magnam cumque omnis! Sapiente ea tempore, repellat voluptas accusantium quia! Aut?
							.card-action
								%a{:href => "#", class: "waves-light btn"} Read more
					.col.s4
						.card
							.card-image
								=image_tag("blog5.jpg")
							.card-content
								%span.card-title Project title
								%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt explicabo consequuntur quis distinctio, ducimus. Nostrum facere, debitis eum eligendi magnam cumque omnis! Sapiente ea tempore, repellat voluptas accusantium quia! Aut?
							.card-action
								%a{:href => "#", class: "waves-light btn"} Read more
					.col.s4
						.card
							.card-image
								=image_tag("blog6.jpg")
							.card-content
								%span.card-title Project title
								%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt explicabo consequuntur quis distinctio, ducimus. Nostrum facere, debitis eum eligendi magnam cumque omnis! Sapiente ea tempore, repellat voluptas accusantium quia! Aut?
							.card-action
								%a{:href => "#", class: "waves-light btn"} Read more

			.sidebar.col.s3
				.row
					.col.s12
						%p.about-me About me
						.card
							.card-image
								=image_tag("avatar.jpg")
							.card-content
								%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt explicabo consequuntur quis distinctio, ducimus. Nostrum facere, debitis eum eligendi magnam cumque omnis!
				.row
					.col.s12
						.card-panel
							%h6 
								Popular Posts
							%ul.popular
								%li
									%a{:href => "#"} Popular Post #1
								%li
									%a{:href => "#"} Popular Post #1
								%li
									%a{:href => "#"} Popular Post #1
				.row
					.col.s12
						.card-panel
							%h6 
								Popular Categories
							%ul.popular
								%li
									%a{:href => "#"} Popular Category #1
								%li
									%a{:href => "#"} Popular Category #1
								%li
									%a{:href => "#"} Popular Category #1

%footer.page-footer
	.container
		.row
			.col.l6.s12
				%h5.white-text Footer Content
				%p.grey-text.text-lighten-4 You can use rows and columns here to organize your footer content.
			.col.l4.offset-l2.s12
				%h5.white-text Links
				%ul
					%li
						%a.grey-text.text-lighten-3{:href => "#!"} Link 1
					%li
						%a.grey-text.text-lighten-3{:href => "#!"} Link 2
					%li
						%a.grey-text.text-lighten-3{:href => "#!"} Link 3
					%li
						%a.grey-text.text-lighten-3{:href => "#!"} Link 4
	.footer-copyright
		.container
			© 2016 Copyright Text
			%a.grey-text.text-lighten-4.right{:href => "#!"} More Links
